In [9]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [11]:
df=pd.read_csv("ENJOYSPORT.csv")
df

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [13]:
concept1=np.array(df)
concept1

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 1],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 1],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 0],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 1]],
      dtype=object)

In [15]:
def find_s(concept):
    h0 = np.array([None] * (concept.shape[1] - 1), dtype=object)
    for c in concept:
        if c[-1] == 1:  
            for i in range(len(h0)):
                if h0[i] is None:
                    h0[i] = c[i]
                elif h0[i] != c[i]:
                    h0[i] = '?'
    return h0

In [17]:
h1 = find_s(concept1)
print(h1)

['Sunny' 'Warm' '?' 'Strong' '?' '?']

In [19]:
df=pd.read_csv("disease.csv")
df

   colour Toughness Fungus Appearance  Poisonous
0   Green      Hard     No   wrinkled          1
1   Green      Hard    yes     smooth          0
2   Brown      soft     No   wrinkled          0
3  Orange      Hard     No   wrinkled          1
4   Green      soft    yes     smooth          1
5   Green      Hard    yes   wrinkled          1
6  Orange      Hard     No   wrinkled          1

In [21]:
concept2=np.array(df)
concept2

array([['Green', 'Hard', 'No', 'wrinkled', 1],
       ['Green', 'Hard', 'yes', 'smooth', 0],
       ['Brown', 'soft', 'No', 'wrinkled', 0],
       ['Orange', 'Hard', 'No', 'wrinkled', 1],
       ['Green', 'soft', 'yes', 'smooth', 1],
       ['Green', 'Hard', 'yes', 'wrinkled', 1],
       ['Orange', 'Hard', 'No', 'wrinkled', 1]], dtype=object)

In [23]:
h2 = find_s(concept2)
print(h2)

['?' '?' '?' '?']

In [31]:
df=pd.read_csv("dataset.csv")
df

  EXAMPLE COLOUR HEIGHT WIDTH  CLASS
0       A    RED  SHORT  THIN      0
1       B   BLUE   TALL   FAT      1
2       C  GREEN  SHORT   FAT      0
3       D  GREEN   TALL  THIN      1
4       E   BLUE  SHORT  THIN      0

In [33]:
concept3=np.array(df)
concept3

array([['A', 'RED', 'SHORT', 'THIN', 0],
       ['B', 'BLUE', 'TALL', 'FAT', 1],
       ['C', 'GREEN', 'SHORT', 'FAT', 0],
       ['D', 'GREEN', 'TALL', 'THIN', 1],
       ['E', 'BLUE', 'SHORT', 'THIN', 0]], dtype=object)

In [35]:
h3=find_s(concept3)
print(h3)

['?' '?' 'TALL' '?']